:root {
    --primary: #7acafc;
    --secondary: #80ad71;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100vh;
    background: linear-gradient(to bottom, var(--primary), var(--secondary));
    align-items: center;
    justify-content: center;
    
    canvas {
        width: 1280px;
        height: 720px;
        background-color: white;
    }
}